---
import type { ArticleDataOBJ } from "@components-p/article/typescript/types/ArticleDataOBJ";
const { article } = Astro.props as { article: ArticleDataOBJ };
// Type of article is the Collection Schema of the CollectionEntry<'article'> with everything as optional

---
    <!--  Todo - Questo si può fare meglio -->
  {
    <dl class="article__metadata-list">

      {
        article.title &&
        <div class="article__title"> 
          <dt>Title</dt>
          <dd>
            <h2 class="article__title--full-title">{article.title}</h2>
            <h2 class="article__title--small-title">{article.titleSmall}</h2>
          </dd>
        </div>
      }

      {
        (article.author || article.pubblicationDate) &&
          <div class="article-metadata__wrapper-horizontal">
            {
              article.author &&
              <div>
                <dt>Author</dt>
                <dd><a href="author-click" class="article__author">{article.author}</a></dd> {/* Temporaney */}
              </div>
            }
            {
              article.pubblicationDate &&
              <div>
                <dt>Date of pubblication</dt>
                <dd>
                  <a href="dateclick">
                    <time datetime={article.pubblicationDate} class="article__pubblication-date">{article.pubblicationDate}</time>
                  </a>
                </dd>
              </div>
            }
          </div>
      }

      {
        article.category &&
        <div class="article__category-wrapper" data-style-position={article.categoryPosition}> {/* Qui come facciamo? */}
          <dt>Category</dt>
          <dd>
            <ul class="article__category-list"> 
              {
                article.category.map((category: string) => (
                  <li class="article__category-list-item">
                    <a href='category-click' class="article__category">{category}</a>
                  </li>
                ))
              }
            </ul>
          </dd>
        </div>
      }

      {
        article.readTime &&
        <div>
          <dt>Reading Time</dt>
          <dd class="article__reading-time">
            <a href="read-time-click">{article.readTime}</a>
          </dd>
        </div>
      }

    </dl>
  }

  {/* Se hai bisogno di un layout leggermente diverso, duplica questo file e chiamalo AricleMeta-Layout-1.astro , Dunque potrai aggiungere facilmente nuovi wrappers */}