---
import type { ArticleDataOBJ } from "../typescript/types/ArticleDataOBJ";
const { article } = Astro.props as { article: ArticleDataOBJ };
---
    <!--  Todo - Questo si può fare meglio -->
  {
    article.title &&
    <div class="article__title">
      <h2 class="article__title--full-title">{article.title}</h2>
      <h2 class="article__title--small-title">{article.titleSmall}</h2>
    </div>
  }
  {
    (article.author || article.pubblicationDate) &&
    <dl class="article__meta">
      <div class="article__meta--wrapper-1">
        {
          article.author &&
          <div>
            <dt>Author</dt>
            <dd>{article.author}</dd>
          </div>
        }
        {
          article.pubblicationDate &&
          <div> 
            <dt>Date of pubblication</dt>
            <dd><time datetime={article.pubblicationDate}>{article.pubblicationDate}</time></dd>
          </div>
        }
      </div>
      (category || readTime) &&
        <div class="article__meta--wrapper-2">
          {
            article.category &&
              <dt>Category</dt>
              <dd>
                <ul> 
                  {
                    article.category.map(category => (<li><a class="article__metadata--category">{category}</a></li>))
                  }
                </ul>
              </dd>
            </div>
          }
          {
            article.readTime &&
            <div>
              <dt>Reading time</dt>
              <dd>{article.readTime}</dd>
            </div>
          }
        </div>
    </dl>
  }

  {/* Se hai bisogno di un layout leggermente diverso, duplica questo file e chiamalo AricleMeta-Layout-2.astro , Dunque potrai aggiungere facilmente nuovi wrappers */}