---
import BaseLayout from "@layouts/BaseLayout.astro";
import Container from "@components-layout/Container.astro";
import IconSystem from "@icons/IconSystem.astro";

import Article from "../components-p/article/Article.astro";
import { getCollection, getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";
import type { CollectionKey } from "astro:content";

import List from '@components/utilities/List.astro';

const articlePrimary: CollectionEntry<'article'> | undefined = await getEntry('article', 'article-1');
if (!articlePrimary) throw new Error('No article found')
const articleSecondary: CollectionEntry<'article'> | undefined = await getEntry('article', 'article-2');
if (!articleSecondary) throw new Error('No article found');
const articleTertiaty: CollectionEntry<'article'> | undefined = await getEntry('article', 'article-3');
if (!articleTertiaty) throw new Error('No article found');
const articleFour: CollectionEntry<'article'> | undefined = await getEntry('article', 'article-4');
if (!articleFour) throw new Error('No article found');

// Qui faccio le entry - con getCollection - a ogni article gli devo dare un entry, magari specificandola attraverso il titolo dell'articolo, o un humanId alike
// La cosa certa è che article si deve prendere un entry
---

<BaseLayout title="Home | News Website">

  <Container type="wide">
    <div class="hero" macro-layout-here> 
      <div class="area-article-relevant | bg-neutral-200"> <!--  Todo --- Farò un Component chiamato <Area> ? -->
        <Article
          entry={articlePrimary}
          template="preview-1"
          templateDirectives={{
            show: ['category']
          }}
        />
      </div> 
      <div class="area-article-secondary | bg-neutral-700">
        <!-- Todo - Forse questo Component deve chiamarsi ArticlePreview -->
          <Article
            entry={articleSecondary}
            template="preview-2"
          />
      </div> 
      <div class="area-article-tertiary | bg-neutral-200">
        <Article
          entry={articleTertiaty}
          template="preview-1"
        />
      </div>
      <div class="area-article-fourth | bg-neutral-200">
        <Article
          entry={articleFour}
          template="preview-3"
        />
      </div>
      <div class="area-article-fifth | bg-neutral-200">
        <Article
          entry={articleSecondary}
          template="preview-4"
        />
      </div>
    </div>
  </Container>

  
  <Container type="wide">
    <div class="splitter-g" first="65.75%" second="1fr" style="margin-top: 2.25rem;">
        <div>
          <h2 class="fs-800 | text-center " style="padding-bottom: 1.5rem;">Latest News</h2>
          <List className="article-list">
            <Article entry={articlePrimary}, template="preview-1"/>
            <Article entry={articlePrimary}, template="preview-1"/>
            <Article entry={articlePrimary}, template="preview-3"/>
            <Article entry={articlePrimary}, template="preview-3"/>
            <Article entry={articlePrimary}, template="preview-1"/>
            <Article entry={articlePrimary}, template="preview-1"/>
            <Article entry={articlePrimary}, template="preview-3"/>
            <Article entry={articlePrimary}, template="preview-3"/>
          </List>
        </div>
        <div class="bg-neutral-200">
          <h2 class="pad-block-4 | text-center">Trending Headlines</h2>
          <List className="article-list-secondary">
            <Article entry={articlePrimary}, template="preview-4"/>
            <Article entry={articlePrimary}, template="preview-4"/>
            <Article entry={articlePrimary}, template="preview-4"/>
            <Article entry={articlePrimary}, template="preview-4"/>
            <Article entry={articlePrimary}, template="preview-4"/>
            <Article entry={articlePrimary}, template="preview-4"/>
            <Article entry={articlePrimary}, template="preview-4"/>
            <Article entry={articlePrimary}, template="preview-4"/>
          </List>
        </div>
    </div>
  </Container>

  

  </Container>

</BaseLayout>

<IconSystem />
