---
import type { ArticleMetaData } from './typescript/types/ArticleMetaData';
interface Props extends any {};
const {
  title, 
  titleSmall, 
  author, 
  date, 
  category, 
  categoryPosition = 'above-header', // Giving a default
  tags} 
= Astro.props; // Todo qui si potrebbe migliorare?
---
    <!--  Todo - Questo si può fare meglio -->
  {
    title &&
    <div class="article__title">
      <h2 class="article__title--full-title">{title}</h2>
      <h2 class="article__title--small-title">{titleSmall}</h2>
    </div>
  }
  {
    (author || date) &&
    <dl class="article__meta">

      {
        author &&
        <div>
          <dt>Author</dt>
          <dd>{author}</dd>
        </div>
      }
      {
        date &&
        <div> 
          <dt>Date of pubblication</dt>
          <dd><time datetime={date}>{date}</time></dd>
        </div>
      }
      {
        category &&
        <div class="category-wrapper" data-style-position={categoryPosition}> {/* Qui bisogna mettere poi ogni classe che definisce il meta data, per poterli gestire singolarmente */}
          <dt>Category</dt>
          <dd>
            <ul> {/* Bisogna anche fare classi per gestire ogni li di tags e category ecc */}
              {
                category.map(category => (<li><a class="article__metadata--category">{category}</a></li>))
              }
            </ul>
          </dd>
        </div>
      }
      
    </dl>
  }

  {/* Se hai bisogno di un layout leggermente diverso, duplica questo file e chiamalo AricleMeta-Layout-1.astro , Dunque potrai aggiungere facilmente nuovi wrappers */}